{% load static %}

<html lang="en">
<head>
   <style>
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      th, td {
      padding: 15px;
      }
   </style>
    <meta charset="UTF-8">
    <title>Examination Notification</title>
   <link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'stu4.jpg' %}" >
<h3 align="center">EXAM NOTIFICATION</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
{% for i in kk %}
<label style="font-weight:bold font-size:12"> {{i}}</label><br><br>
    {% endfor %}
</table><br><br>

</body>
</html>

